<footer class="text-center text-lg-start fixed-bottom" style="background-color: #454058; color: #ffffff;">
  <div class="text-center p-3">
    Created by
    <a class="bg-secondary text-light rounded" href="https://github.com/meetsudarshan">GitHub Page</a>
    <span class="mx-3">|</span>
    <a class="bg-secondary text-light rounded" href="https://www.facebook.com/sunny.samaddar">Facebook</a>
    <span class="mx-3">|</span>
    <a class="bg-secondary text-light rounded" href="https://www.linkedin.com/in/sudarshan-samaddar-566579235/">LinkedIn</a>
    <span class="mx-3">|</span>
    <a class="bg-secondary text-light rounded" href="mailto:samaddarsudarshan@gmail.com">Please hire me</a>
  </div>
  <div class="text-center text-light pb-3">
    &copy; {{1999}} My Angsty Web Journals from the 90s. All rights reserved.
  </div>
</footer>
